@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  @apply pt-[52px];
}

.navbar {
  @apply flex justify-between items-center fixed w-full h-[52px] top-0 shadow-sm bg-white;
}

.navbar__logo {
  @apply text-blue-800 text-lg font-semibold cursor-pointer px-[18px] py-0;
}

.navbar__list {
  @apply flex px-[18px] py-0 gap-3 items-center;
}

.navbar__button {
  @apply hidden cursor-pointer;
}

.navbar__list-item {
  @apply cursor-pointer;
}

.navbar__list-item:hover {
  /* color: darkgray; */
  @apply text-gray-600;
}

@media only screen and (max-width: 600px) {
  .navbar__list {
    /* display: none; */
    @apply hidden;
  }

  .navbar__button {
    /* display: block;
    padding: 0px 18px; */
    @apply block px-[18px] py-0;
  }

  .navbar--mobile {
    /* position: fixed;
    width: 100%;
    height: 100vh;
    top: 52px;
    background-color: darkblue;
    color: white; */
    @apply fixed w-full h-screen top-[52px] bg-blue-800 text-white;
  }

  .navbar__list-item--mobile {
    @apply cursor-pointer;
  }

  .navbar__list-item--mobile:hover {
    @apply text-gray-600;
  }

  .navbar__list--mobile {
    @apply flex flex-col gap-4 items-start px-[18px] py-6;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
